<?xml version="1.0"?>
<configuration>
    <startup>
    </startup>
    <appSettings>
        <!--1 olduğu durumda sqlplus ile scritler çalıştırılır.-->
        <add key="withsqlplus" value="1"/>
        <add key="username" value="a"/>
        <add key="password" value="a"/>
        <add key="data_source" value="a"/>
        <add key="outputfolder" value="output"/>
        <add key="connection_string" value=""/>
    </appSettings>
</configuration>